@media screen and (max-width: 840px) {
    #terminal {
        width: 95% !important;
        margin: auto!important;
    }
}

@media screen and (max-width: 680px) {
    #home h1 {
        font-size: 8em !important;
    }
}

@media screen and (max-width: 560px) {
    #home h1 {
        font-size: 6em !important;
    }

    footer {
        height: 10vh !important;
    }
}

@media screen and (max-width: 460px) {
    #skills {
        height: 150vh;
    }
    #home h1 {
        font-size: 4em !important;
    }
}

.styleguide {
    background-color: #1d1d1d;
    min-height: 100vh;
}

.styleguide p{
    color: #858585;
}

.color-palette {
    color: white;
}

.styleguide h1,
.styleguide h2{
    color: #e1e1e1;
    margin-top: 20px;
}

.color-palette {
    border: 1px white solid;
    width: 150px;
    height: 70px;
}

html,body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -ms-overflow-style: none;
}

footer {
    padding-top:10px;
    height: 5vh;
    background-color: #131313;
    color: white;
    font-size: 0.9rem;
}

footer span > p {
    float: left;
    padding-left: 10%;
    margin-bottom: 0;
}

footer span > p + p {
    float: right;
    padding-right: 10%;
}

a {
    color: #6fcf86 !important;
}

a:hover {
    color: #80ED99 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


.page {
    z-index: 1;
    height: 100vh;
    padding: 5%;
}

.navbar {
    background-color: #131313;
}

#home {
    background-color: #1d1d1d;
    text-align: center;
}

#home h1 {
    font-size: 10rem;
    z-index: 100;
    background-image: -webkit-linear-gradient(right, #007178, #02ADB8, #007178); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(right, #007178, #02ADB8, #007178); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(right, #007178, #02ADB8, #007178); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(right,#007178, #02ADB8, #007178); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #007178, #02ADB8, #007178); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#home hr {
    border: 1px solid rgb(255, 255, 255);
}

#top {
    text-align: right;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#skills {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    background-color: #161616;
    padding: 50px 0;
}

#skills #top {
    background-color: rgb(19, 19, 19);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

#skills h2 {
    color: #6fcf86;
}

#skills #content {
    padding: 10px 25px;
    
}

#terminal {
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    width: 50%;
    margin:10px auto;
}

#skills span h2,
#skills span h3 {
    display: inline-block;
}

#skills span h3 {
    padding-left: 10px;
}

#skills div#content p {
    padding-left: 25px;
}
